
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Arvo&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;

}
body{
    font-family: 'Anton', sans-serif;
    background: #93eec2;
}
.bg{
    background: transparent;
    transition: .5s ease;
    width: fit-content;
    float: right;
}
.bg.scrolled{
    background: #fff;
    padding-top: 0rem;
    padding-bottom: 0rem;
}





.brand{
    background-color: #ef476f;
    padding: 1rem 1rem;
    box-shadow: 5px 5px 10px 7px rgba(19, 19, 18, 0.397) ;
    max-height: 12vh;
    text-align: center;
}
.brand h1{
    font-size: 2.4rem;
    color: rgb(253, 251, 251);
    font-weight: 800;
    letter-spacing: 4px;
    -webkit-text-stroke: .5px;
    -webkit-text-stroke-color: #000;
    
    

}
.brand h1 span{
    color:#001f3f;
    -webkit-text-stroke: .5px;
    -webkit-text-stroke-color: #fff;
    
}
/*=======start of navbar*/
.navbar-light .navbar-toggler{
    background-color: #fff;
    position: fixed;
    top: 1.1rem;
    left: 1.3rem;
}


.wrapper .container .navbar {
    z-index: 2;
}
.wrapper .container .navbar .navbar-nav  li {
    padding: 5px 20px;
}
.wrapper .container .navbar .navbar-nav .nav-item a{
    font-size: 1.1rem;
    color: #001f3f91;
    transition:color  .3s linear ;
}
.wrapper .container .navbar .navbar-nav .nav-item a.active{
    color: #ef476f;    
}
.wrapper .container .navbar .navbar-nav .nav-item a::before{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #ef476f;
    transition: width  .6s;
    

}
.wrapper .container .navbar .navbar-nav .nav-item a:hover{
    color: #011224 ;
}
.wrapper .container .navbar .navbar-nav .nav-item a:hover::before{
    width: 100%;
    
}
/*========end of navbar================*/


/*===========start of home bage=================*/
.container .welcome-page{
    height:80vh;
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 15rem;
    margin-top: 2rem;
    border: 5px solid #fff;
    border-radius: 7px;

    
}

.container .welcome-page h1{
    padding-top: 11rem;
    font-weight: 400;
    line-height: 4.5rem;

}

.container .welcome-page h1 span{
    color: #ef476f;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #fff;
    font-size: 4rem;
}
.container .welcome-page p{
    font-size: 2rem;
    color: #ef476f;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color:#FFF;
}
.container .welcome-page button{
    /* background-color: #000; */
    background: transparent;
    padding: .5rem 1rem;
    margin-top: 1rem;
    border: 0;
}
.container .welcome-page a{
    text-decoration: none;
    color: #ef476f;
    background-color: #fff;
    font-size: 1.1rem;
    padding: 1rem 3rem;
    border-radius: 3px;
    letter-spacing: 2px;
    transition: color,background-color .4s linear;
}
.container .welcome-page a:hover{
    color: #fff;
    background-color: #ef476f;
}







/*=========end of home bage ===========*/

/*======start of about section ===========*/
#about{
    height: fit-content;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 5rem 2rem;
    background-color: rgba(0, 0, 0, .75);
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0px 0px 15px;  
}
#about .row{
    height:fit-content;
}
#about h3{
    padding: 1rem 1rem;
    color: #fff;
}
#about .profile-pic{
    padding-right: 0;
    padding-left: 0;
}
#about img{
    width:200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 2px solid #fff;
    border-radius: 100%;
}
#about p{
    font-family: cursive,sans-serif;
    color: #fff;
    padding: 1rem 1rem 0rem ;
    font-size: 120%;
    text-transform: capitalize;
    line-height: 2.4rem;
    border: 2px solid #fff;

}



/*==========end of about section==========*/
/*==========start of experience section============*/
#projects{
    background:#ffd166;
    height: fit-content;
    padding-bottom: 2rem;
    border-radius: 5px;
    box-shadow: 0px 0px 15px; 
    padding-top: 3rem;   
    
}
#projects h2{
    color: #073b4c;
    text-align: center;
    padding-top: 2rem;
}
#projects li{
    padding: 1rem 2rem;
    list-style: none;
}
#projects h3{
    color: #073b4c;
    font-size: 1rem;
    font-family: 'Arvo', serif;
    font-weight: 400;

}
#projects .bar{
    background: #353b48;
    display: block;
    height: 5px;
    border:1px solid rgba(0, 0, 0, .3) ;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px #2187e7b3;
}
.bar span{
    height: 5px;
    float: left;
    background: #2187e7;
}
.html{
    width: 90%;
    animation: html 5s;
    color: royalblue;
}
.css{
    width: 75%;
    animation: css 5s;
}
.java{
    width: 60%;
    animation: java 5s;
}
.bootstrap{
    width: 80%;
    animation: bootstrap 5s;
}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 75%;
    }
}
@keyframes java{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
@keyframes bootstarp{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
/*==========end of experience section============*/
/*==============start of projects section===========*/
#cards{
    height: fit-content;
    margin-top: 2rem;
    background: #e07a5f;
    border-radius: 5px;
    box-shadow: 0px 0px 15px;
    /* padding: 2rem ; */
}
#cards .card-img{
    padding-top:3rem;
    justify-content: space-between;
    
}
#cards img{
    height: 400px;
    padding:.5rem;
    background: transparent;
    overflow: hidden;
    
}
#cards h3{
    color: #fff;
    padding-top: 2rem;
}
/*==============end of projects section===========*/
/*======= start of social part*/
.social{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 1rem;
    background: #353b48;
    border-radius: 8px;

}

.social a{
    text-decoration: none;
    color: rgb(151, 150, 150);
    display: block;
    padding: 1rem 1rem;
    transition: color .3s linear;

}
.social a:hover{
    color: #fff;
}
.social a i{
    font-size: 2rem;
}





/*======= end of social part*/
@media screen and (max-width:720px){
    .container .welcome-page h1{
        padding-top: 5.5rem;
    }
}
@media screen and (max-width:720px){
  
    .bg{
        width: 100%;
    
    }  
    
    .wrapper .container .navbar .navbar-nav  li {
        padding: 10px 0px 10px;
        width: 100%;
        background-color: #fff;
    }
    .wrapper .container .navbar .navbar-nav  li.nav-item{
        border-bottom: 2px solid rgba(0, 0, 0, 0.137);
        
    }
    .wrapper .container .navbar .navbar-nav .nav-item a{
        font-size: 1.1rem;
        color: rgb(29, 28, 28);
        width: 30%;
        transition:color  .3s linear ;
        margin: 0 auto;
        text-align: center;
    }
    .wrapper .container .navbar .navbar-nav .nav-item a.active{
        color: #ef476f;
        
    }
    .wrapper .container .navbar .navbar-nav .nav-item a::before{
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background: gold;
        transition: width  .6s;
        
    
    }
    .wrapper .container .navbar .navbar-nav .nav-item a:hover{
        color: #e07a5f ;
    }
    .wrapper .container .navbar .navbar-nav .nav-item a:hover::before{
        width: 100%;
        
    }
    /* .container .welcome-page h1{
        padding-top: 0;

    } */

    .container .welcome-box .btns{
        width: 100%;
        background: rgba(0, 0, 0, 0);
        margin-top:3rem;
        margin-left: auto;
        padding: 0;
    }
    .container .welcome-box .btns a{
        text-decoration: none;
        color: #fff;
        font-size: 1rem;
        padding: .6rem 2rem;
        margin-left:2rem;
        border-radius: 1rem;
        background: rgba(0, 0, 0, .2);
        transition: background,color .3s linear;
       }

}






